.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 3rem 1rem 0 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: rgba(63, 6, 29);
    }

    .info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      opacity: 0;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
        background-color: rgba(166, 166, 166, 0.3);
      }

      .info-content {
        display: flex;
        gap: 0.5rem;
      }

      .likes {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        .heart {
          width: 2rem;
        }

        .comment {
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    .reel {
      width: 1.5rem;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .post {
      width: 100%;

      & :hover {
        background-color: #1111a2;
        border: 5px solid black;
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
